<h2>SignUp form</h2>

<form [formGroup]="form" #UserInformation (ngSubmit)="UserForm(UserInformation)">
  <div class="row">
    <div class=" col-md-offset-1 col-md-4">
      <label for="username"> Name </label>
      <input id="username" formControlName="username" class="form-control" type="text">
    </div>
  </div>
  <div class="row">
    <div class=" col-md-offset-1 col-md-4">
      <label for="email"> Email </label>
      <input id="email" formControlName="email" class="form-control" type="text">
    </div>
  </div>
  <div class="row">
    <div class=" col-md-offset-1 col-md-4">
      <label for="password"> Password </label>
      <input id="password" formControlName="password" class="form-control" type="password">
    </div>
  </div>
  <div class="row">
    <div class=" col-md-offset-1 col-md-4">
      <label for="confirmPassword"> Confirm Password </label>
      <input id="confirmPassword" formControlName="confirmPassword" class="form-control" type="password">
    </div>
  </div>
  <div class="row" style="margin-top: 40px;">
    <div class="col-md-offset-1 col-md-4">
      <button class="btn btn-md btn-primary btn-style" >Kaydet</button>
    </div>
  </div>

</form>
