<nav class="navbar navbar-dark bg-dark navbar-expand-xl">
  <a routerLink="/routes" class="navbar-brand">E-Ticket</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/routes">Routes</a></li>
      <li class="nav-item" routerLinkActive="active" *ngIf="user || admin"><a class="nav-link" routerLink="/tickets/myTickets/{{username}}">Tickets</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" *ngIf="admin" >Manage <span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/admin/users/list">Users</a>
          <a class="dropdown-item" routerLink="/admin/routes/">Routes</a>
          <a class="dropdown-item" routerLink="/admin/vehicles/list">Vehicles</a>
          <a class="dropdown-item" routerLink="/admin/tickets">Tickets</a>
          <a class="dropdown-item" routerLink="/admin/seats">Seats</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!user"><a class="nav-link" routerLink="/signup">Sign Up</a></li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!user"><a class="nav-link" routerLink="/login">Login</a></li>
      <li class="nav-item" *ngIf="user"><a class="nav-link"(click)="logOut()">Logout</a></li>
    </ul>
  </div>
</nav>
