# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/FrontEnd/dist
/FrontEnd/tmp
/FrontEnd/out-tsc

# dependencies
/FrontEnd/node*
/FrontEnd/node_modules

# IDEs and editors
*.iml


# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/FrontEnd/.sass-cache
/FrontEnd/connect.lock
/FrontEnd/coverage
/FrontEnd/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/FrontEnd/typings

# System Files
.DS_Store
Thumbs.db

### Ticket

/Ticket/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/Ticket/nbproject/private/
/Ticket/build/
/Ticket/nbbuild/
/Ticket/dist/
/Ticket/nbdist/
/Ticket/.nb-gradle/