<div class="container" style="margin-top: 10px">
  <button class="btn btn-success" routerLink="../create"> + Yeni Kullanıcı</button>
  <div class="form-group float-right">
    <input placeholder="Filtreleme" type="text" class="form-control" [(ngModel)]="filterData">
  </div>

  <br/>
  <table class="table table-bordered">
    <thead>
    <th>Kullanıcı Adı</th>
    <th>E-Mail</th>
    <th>Kullanıcı Rolü</th>
    <th>İşlemler</th>
    </thead>
    <tbody *ngIf="loadedUsers.length >= 1">
    <tr *ngFor="let user of loadedUsers | tableFilter: filterData">
      <td>{{user.userName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.userRole}}</td>
      <td><button class="btn btn-primary" routerLink="../{{user.id}}" style="margin-right: 5px;">Düzenle</button> <button *ngIf="user.id != '1'" (click)="onDeleteUser(user.id)" class="btn btn-danger">Sil</button></td>
    </tr>
    </tbody>
  </table>
</div>
