<div class="container" style="margin-top: 10px">
  <div class="form-group float-right">
    <input placeholder="Filtreleme" type="text" class="form-control" [(ngModel)]="filterData">
  </div>

  <br/>
  <table class="table table-bordered">
    <thead>
    <th>Adı</th>
    <th>Soyadı</th>
    <th>Araç</th>
    <th>Koltuk Numarası</th>
    <th>Bilet Statüsü</th>
    </thead>
    <tbody *ngIf="loadedTickets.length >= 1">
    <tr *ngFor="let ticket of loadedTickets | tableFilter: filterData">
      <td>{{ticket.name}}</td>
      <td>{{ticket.surname}}</td>
      <td *ngIf="ticket.vehicle != null">{{ticket.vehicle}}</td>
      <td *ngIf="ticket.vehicle == null">Araç Bulunamadı</td>
      <td *ngIf="ticket.seatId != null">{{ticket.seatId}}</td>
      <td *ngIf="ticket.seatId == null">Koltuk Bulunamadı</td>
      <td>{{ticket.ticketStatus}}</td>
    </tr>
    </tbody>
  </table>
</div>
