<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form (ngSubmit)="onUpdate(form)" #form="ngForm">
        <div class="form-group">
          <label for="fromCity">Kalkış Şehri:</label>
          <input type="text" class="form-control" id="fromCity" ngModel name="fromCity" required #fromCity="ngModel">
          <small *ngIf="!fromCity.valid && fromCity.touched">Lütfen bir kalkış şehri giriniz.</small>
        </div>
        <div class="form-group">
          <label for="toCity">Varış Şehri</label>
          <input type="text" id="toCity" class="form-control" ngModel name="toCity" required #toCity="ngModel">
          <small *ngIf="!toCity.valid && toCity.touched">Lütfen bir varış şehri giriniz.</small>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid" >Rota Düzenle</button>
        <button class="btn btn-danger" type="button" (click)="onDelete(loadedRoute.id)" style="margin-left: 10px;">Rota Sil</button>
      </form>
    </div>
  </div>
</div>
