<div class="container" style="margin-top: 10px">
  <div class="form-group float-right">
    <input placeholder="Filtreleme" type="text" class="form-control" [(ngModel)]="filterData">
  </div>

  <br/>
  <table class="table table-bordered">
    <thead>
    <th>Koltuk Numarası</th>
    <th>Rota</th>
    <th>Araç Plakası</th>
    <th>Statü</th>
    </thead>
    <tbody *ngIf="loadedSeats.length >= 1">
    <tr *ngFor="let seat of loadedSeats | tableFilter: filterData">
      <td>{{seat.seatNumber}}</td>
      <td *ngIf="seat.route != null">{{seat.route}}</td>
      <td *ngIf="seat.route == null">Rota Bulunamadı</td>
      <td>{{seat.vehicle}}</td>
      <td>{{seat.status}}</td>
    </tr>
    </tbody>
  </table>
</div>
